<h1>This Privacy Policy (the “Policy”) describes how [Image Searcher / Downloader] App (also referred to as “we,” “us,” or “our”), collects, stores, uses and protects your information when you using our App.</h1>

<h2>What kinds of information do we collect?</h2>
Depending on which Services you use, we collect different kinds of information from or about you. <br>
<br>
<h2>Things you do and information you provide. </h2>
We collect the content and other information you provide when you use our Services, including when you create or share a post, and message or communicate with others. This can include information in or about the content you provide, such as the location of a photo or the date a file was created. We also collect information about how you use our Services, such as the types of content you view or engage with or the frequency and duration of your activities. <br>
<br>
<h2>Device information. </h2>
We collect information from or about the smart phones, tablets or other devices where you install or access our Services, depending on the permissions you've granted. We may associate the information we collect from your different devices, which helps us provide consistent Services across your devices. Here are some examples of the device information we collect: <br>
- Attributes such as the operating system, hardware version, device settings, file and software names and types, battery and signal strength, and device identifiers. <br>
- Device locations, including specific geographic locations, such as through GPS, Bluetooth, or WiFi signals.<br>
- Connection information such as the name of your mobile operator or ISP, br/owser type, language and time zone, mobile phone number and IP address. <br>
<br>
<h2>How do we use this information?</h2>
We are passionate about creating engaging and customized experiences for people. We use all of the information we have to help us provide and support our Services. Here's how: <br>
<br>
<h2>Provide, improve and develop Services.</h2>
We are able to deliver our Services, personalize content, and make suggestions for you by using this information to understand how you use and interact with our Services and the people or things you're connected to and interested in on and off our Services. <br>
We conduct surveys and research, test features in development, and analyze the information we have to evaluate and improve products and services, develop new products or features, and conduct audits and troubleshooting activities. <br>
<br>
<h2>Provide personalized apps recommendation.</h2>
We are able to deliver personalized app content and make app recommendations for you based on the information you provide, such as content you like, posts you create and list of apps installed on your device. For example, we can make personalized recommendations for new apps that you are more likely to find useful, and also avoid recommending apps that you already own.<br>
<br>
<h2>Communicate with you. </h2>
We use your information to send you marketing communications, communicate with you about our Services and let you know about our policies and terms. We also use your information to respond to you when you contact us.<br>
<br>
<h2>Show and measure ads and services. </h2>
We use the information we have to improve our advertising and measurement systems so we can show you relevant ads on and off our Services and measure the effectiveness and reach of ads and services. <br>
<br>
<h2>Promote safety and security. </h2>
We use the information we have to help verify accounts and activity, and to promote safety and security on and off of our Services, such as by investigating suspicious activity or violations of our terms or policies. We work hard to protect your account using teams of engineers, automated systems, and advanced technology such as encryption and machine learning.<br>
